<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.questiontext }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
{#        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">#}
{#        <label for="choice{{ forloop.counter }}">{{ choice.choicetext }}</label><br>#}
          <div>
            <input type="checkbox" id="{{ choice.id }}" name="choice" value="{{ choice.id }}"/>
            <label for="choice {{ forloop.counter }}">{{ choice.choicetext }}</label>
          </div>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>